Source: ros-turbulent-ros-testing
Section: misc
Priority: extra
Maintainer: Michel Hidalgo <michel@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), ros-turbulent-ament-cmake, ros-turbulent-ament-cmake-core, ros-turbulent-ament-cmake-export-dependencies, ros-turbulent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-ros-testing
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-turbulent-launch-testing, ros-turbulent-launch-testing-ament-cmake, ros-turbulent-launch-testing-ros, ros-turbulent-ros2test, ros-turbulent-ros-workspace
Description: The entry point package to launch testing in ROS.
