Source: ros-testing-ros2test
Section: misc
Priority: optional
Maintainer: Michel Hidalgo <michel@ekumenlabs.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-testing-ament-copyright, ros-testing-ament-flake8, ros-testing-ament-pep257, ros-testing-launch, ros-testing-launch-ros, ros-testing-launch-testing, ros-testing-launch-testing-ros, ros-testing-ros2cli, ros-testing-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-testing-ros2test
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-testing-domain-coordinator, ros-testing-launch, ros-testing-launch-ros, ros-testing-launch-testing, ros-testing-launch-testing-ros, ros-testing-ros2cli, ros-testing-ros-workspace
Description: The test command for ROS 2 launch tests.
